.container {
    padding: 0rem;
}

.imgContainer {
    padding: 2rem;
    text-align: center;
}

.textContainer {
    text-align: left;
}

.socialMediaIcon {
    color: inherit;
}

.socialMediaIconsGrid {
    padding: 1rem;
}